ClienteSOA/xml-resources/web-service-references/ProductoService/wsdl/localhost_8080/ProductoService/ProductoService.xsd_1.xsd

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><xs:schema xmlns:tns="http://ws/" xmlns:xs="http://www.w3.org/2001/XMLSchema" version="1.0" targetNamespace="http://ws/">

<xs:element name="caducadosDesde" type="tns:caducadosDesde"/>

<xs:element name="caducadosDesdeResponse" type="tns:caducadosDesdeResponse"/>

<xs:element name="compar" type="tns:compar"/>

<xs:element name="comparResponse" type="tns:comparResponse"/>

<xs:element name="count" type="tns:count"/>

<xs:element name="countResponse" type="tns:countResponse"/>

<xs:element name="create" type="tns:create"/>

<xs:element name="edit" type="tns:edit"/>

<xs:element name="find" type="tns:find"/>

<xs:element name="findAll" type="tns:findAll"/>

<xs:element name="findAllResponse" type="tns:findAllResponse"/>

<xs:element name="findRange" type="tns:findRange"/>

<xs:element name="findRangeResponse" type="tns:findRangeResponse"/>

<xs:element name="findResponse" type="tns:findResponse"/>

<xs:element name="producto" type="tns:producto"/>

<xs:element name="remove" type="tns:remove"/>

<xs:element name="reponer" type="tns:reponer"/>

<xs:element name="reponerResponse" type="tns:reponerResponse"/>

<xs:complexType name="count">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="countResponse">
<xs:sequence>
<xs:element name="return" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reponer">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="reponerResponse">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caducadosDesde">
<xs:sequence>
<xs:element name="desde" type="tns:date" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="date">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="caducadosDesdeResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="producto">
<xs:sequence>
<xs:element name="caducidad" type="xs:dateTime" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
<xs:element name="detalles" type="xs:string" minOccurs="0"/>
<xs:element name="id" type="xs:int" minOccurs="0"/>
<xs:element name="imagen" type="xs:string" minOccurs="0"/>
<xs:element name="nombre" type="xs:string" minOccurs="0"/>
<xs:element name="precio" type="xs:float"/>
<xs:element name="vendedor" type="xs:string" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="create">
<xs:sequence>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findAll">
<xs:sequence/>
</xs:complexType>

<xs:complexType name="findAllResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="remove">
<xs:sequence>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="compar">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
<xs:element name="cantidad" type="xs:int"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="comparResponse">
<xs:sequence>
<xs:element name="return" type="xs:float" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="edit">
<xs:sequence>
<xs:element name="producto" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="find">
<xs:sequence>
<xs:element name="id" type="xs:anyType" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRange">
<xs:sequence>
<xs:element name="range" type="xs:int" nillable="true" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>

<xs:complexType name="findRangeResponse">
<xs:sequence>
<xs:element name="return" type="tns:producto" minOccurs="0" maxOccurs="unbounded"/>
</xs:sequence>
</xs:complexType>
</xs:schema>