ClienteSOA/src/META-INF/wsdl/localhost_8080/ProductoService/ProductoService.wsdl

<?xml version='1.0' encoding='UTF-8'?><!-- Published by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><!-- Generated by JAX-WS RI (http://jax-ws.java.net). RI's version is Metro/2.3.1-b419 (branches/2.3.1.x-7937; 2014-08-04T08:11:03+0000) JAXWS-RI/2.2.10-b140803.1500 JAXWS-API/2.2.11 JAXB-RI/2.2.10-b140802.1033 JAXB-API/2.2.12-b140109.1041 svn-revision#unknown. --><definitions xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:wsp="http://www.w3.org/ns/ws-policy" xmlns:wsp1_2="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://ws/" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns="http://schemas.xmlsoap.org/wsdl/" targetNamespace="http://ws/" name="ProductoService">
<types>
<xsd:schema>
<xsd:import namespace="http://ws/" schemaLocation="http://localhost:8080/ProductoService/ProductoService?xsd=1"/>
</xsd:schema>
</types>
<message name="remove">
<part name="parameters" element="tns:remove"/>
</message>
<message name="count">
<part name="parameters" element="tns:count"/>
</message>
<message name="countResponse">
<part name="parameters" element="tns:countResponse"/>
</message>
<message name="find">
<part name="parameters" element="tns:find"/>
</message>
<message name="findResponse">
<part name="parameters" element="tns:findResponse"/>
</message>
<message name="create">
<part name="parameters" element="tns:create"/>
</message>
<message name="findAll">
<part name="parameters" element="tns:findAll"/>
</message>
<message name="findAllResponse">
<part name="parameters" element="tns:findAllResponse"/>
</message>
<message name="compar">
<part name="parameters" element="tns:compar"/>
</message>
<message name="comparResponse">
<part name="parameters" element="tns:comparResponse"/>
</message>
<message name="reponer">
<part name="parameters" element="tns:reponer"/>
</message>
<message name="reponerResponse">
<part name="parameters" element="tns:reponerResponse"/>
</message>
<message name="caducadosDesde">
<part name="parameters" element="tns:caducadosDesde"/>
</message>
<message name="caducadosDesdeResponse">
<part name="parameters" element="tns:caducadosDesdeResponse"/>
</message>
<message name="edit">
<part name="parameters" element="tns:edit"/>
</message>
<message name="findRange">
<part name="parameters" element="tns:findRange"/>
</message>
<message name="findRangeResponse">
<part name="parameters" element="tns:findRangeResponse"/>
</message>
<portType name="ProductoService">
<operation name="remove">
<input wsam:Action="http://ws/ProductoService/remove" message="tns:remove"/>
</operation>
<operation name="count">
<input wsam:Action="http://ws/ProductoService/countRequest" message="tns:count"/>
<output wsam:Action="http://ws/ProductoService/countResponse" message="tns:countResponse"/>
</operation>
<operation name="find">
<input wsam:Action="http://ws/ProductoService/findRequest" message="tns:find"/>
<output wsam:Action="http://ws/ProductoService/findResponse" message="tns:findResponse"/>
</operation>
<operation name="create">
<input wsam:Action="http://ws/ProductoService/create" message="tns:create"/>
</operation>
<operation name="findAll">
<input wsam:Action="http://ws/ProductoService/findAllRequest" message="tns:findAll"/>
<output wsam:Action="http://ws/ProductoService/findAllResponse" message="tns:findAllResponse"/>
</operation>
<operation name="compar">
<input wsam:Action="http://ws/ProductoService/comparRequest" message="tns:compar"/>
<output wsam:Action="http://ws/ProductoService/comparResponse" message="tns:comparResponse"/>
</operation>
<operation name="reponer">
<input wsam:Action="http://ws/ProductoService/reponerRequest" message="tns:reponer"/>
<output wsam:Action="http://ws/ProductoService/reponerResponse" message="tns:reponerResponse"/>
</operation>
<operation name="caducadosDesde">
<input wsam:Action="http://ws/ProductoService/caducadosDesdeRequest" message="tns:caducadosDesde"/>
<output wsam:Action="http://ws/ProductoService/caducadosDesdeResponse" message="tns:caducadosDesdeResponse"/>
</operation>
<operation name="edit">
<input wsam:Action="http://ws/ProductoService/edit" message="tns:edit"/>
</operation>
<operation name="findRange">
<input wsam:Action="http://ws/ProductoService/findRangeRequest" message="tns:findRange"/>
<output wsam:Action="http://ws/ProductoService/findRangeResponse" message="tns:findRangeResponse"/>
</operation>
</portType>
<binding name="ProductoServicePortBinding" type="tns:ProductoService">
<soap:binding transport="http://schemas.xmlsoap.org/soap/http" style="document"/>
<operation name="remove">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="count">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="find">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="create">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findAll">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="compar">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="reponer">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="caducadosDesde">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
<operation name="edit">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
</operation>
<operation name="findRange">
<soap:operation soapAction=""/>
<input>
<soap:body use="literal"/>
</input>
<output>
<soap:body use="literal"/>
</output>
</operation>
</binding>
<service name="ProductoService">
<port name="ProductoServicePort" binding="tns:ProductoServicePortBinding">
<soap:address location="http://localhost:8080/ProductoService/ProductoService"/>
</port>
</service>
</definitions>